aiogram==2.13
aiohttp==3.7.4.post0
aiosqlite==0.16.1
asgiref==3.4.0
async-timeout==3.0.1
asyncpg==0.23.0
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
chardet==4.0.0
Django==3.2.4
idna==3.2
iso8601==0.1.14
multidict==5.1.0
Pillow==2.2.1
psycopg2-binary==2.9.1
pypika-tortoise==0.1.1
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
tortoise-orm==0.17.4
typing-extensions==3.10.0.0
yarl==1.6.3
